/** CSS de l'emploi du temps */

.group-title {
  color: #6F7DA9;
}

.schedule {
  border-radius: 10px;
  margin-bottom: 0;
  max-height: 86vh;
  position: relative;
}

table {
  background-color: var(--color-button-text);
}

thead, thead tr {
    background-color: var(--color-secondary);
    color: var(--color-button-text);
}

td, th {
  border: none !important;
}

tr {
  font-family: 'Lato', sans-serif;
}

tr:nth-child(even) {
    background-color: #f8f6ff !important;
}

.table-responsive {
  border-radius: 10px;
  max-height: 80vh;
  overflow: hidden;
}