/** CSS de l'emploi du temps */

.group-title {
  color: #6F7DA9;
}

.schedule {
  border-radius: 10px;
  margin-bottom: 0;
  max-height: 86vh;
  position: relative;
}

.table-responsive {
  max-height: 80vh;
}