:root {
    font-size: 16px;
    --color-button-text: #fff;
    --color-primary-100: #151a21;
    --color-primary-200: #242c37;
    --color-primary-300: #323d4d;
    --color-primary-600: #5d7290;
    --color-primary-700: #b2bdcd;
    --color-primary-800: #dee3ea;
    --color-primary-900: #fff;
    --color-secondary-washed-out: #879eed;
    --color-secondary: #6c7ae0;
    --color-accent-glow: rgba(253,77,77,0.3);
    --color-accent: #fd4d4d;
    --color-accent-hover: #fd6868;
    --color-accent-disabled: #f5bfbf;
}

.button_ecran, .delete_button_ecran, .button_ecran:hover, .delete_button_ecran:hover, .active_ecran .page-link {
  color: var(--color-button-text);
}

.button_ecran {
    background-color: #00558b;
}

.delete_button_ecran {
    background-color: #8e2525;
}

.active_ecran .page-link {
    background-color: #00558b;
}

.iut {
  width: 85px;
  margin-top: 74vh;
  z-index: 99999;
  display: block;
  left: 14vw;
  position: absolute;
}

.table-responsive {
  border-radius: 10px;
}

table {
  background-color: var(--color-button-text);
}

thead, thead tr {
    background-color: var(--color-secondary);
    color: var(--color-button-text);
}

td, th {
  border: none !important;
}

tr {
  font-family: 'Lato', sans-serif;
}

tr:nth-child(even) {
    background-color: #f8f6ff !important;
}

.sidebar {
  background-color: var(--color-secondary) !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}

.container.col-md-7 {
  background-color: transparent !important;
  margin-top: 5vh;
  padding-top: 1vh;
}

.select_ecran {
    width: 80%;
}
