/* 2021 Update */
.gradient-01d {
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1));
  color: var(--color-primary-100);
}

.gradient-01n, .gradient-03n {
  background: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  color: var(--color-primary-800);
}
