/*__Alerts main__*/

.alerts {;
    height: 7ex;
    background-color: #FF0000;
    color: white;
    text-align: center;
    width: 100%;
}

.innerwrap {
}
.list {
    text-align: center;
}

@media only screen and (max-height: 1000px) {
    .alerts{
        font-size: 100%;
    }
}

/*CSS TICKER ALERTS*/
.TickerNews {
    width: 100%;
    line-height: 50px;
}

.ti_wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.ti_slide {
    width: 30000px;
    position: relative;
    left: 0;
    top: 0;
}

.ti_content {
    width: 100%;
    position: relative;
    float: left;

}

.ti_news {
    font-size: 200%;
    float: left;}