/*__Information main__*/
.titleInfo {
    text-align: center;
}

.content_info{
    font-size : 1.5em;
    text-align: center;
}

.content_info img{
    max-height:40vh;
    width: auto;
}

.red {
    color:red;
}

.pdfemb-toolbar {
    display: none !important;
}

.pdfemb-viewer {
    max-height:45vh !important;
}

td div.pdfemb-viewer {
    width: 50px;
    height: 50px;
}

@media (max-height: 1100px) {

    .pdfemb-viewer {
        max-height:45vh;
    }

    .content_info{
        width: 100%;
        font-size : 1.5em;
        text-align: center;
    }

    /*.content_info img{*/
    /*    max-height:40ex;*/
    /*}*/
}

@media (max-height: 800px) {

    .content_info td {
        height: 20px;
    }

    .content_info{
        width: 100%;
        font-size : 1.5em;
        text-align: center;
    }

    .content_info img{
        max-height:100%;
        width: auto;
    }

    .pdfemb-viewer {
        max-height:100%;
        width: auto;
    }

    /*.content_info img{*/
    /*    max-height:30ex;*/
    /*}*/
}