/*__Information main__*/
.carousel-item {
    float: none !important;
}

.carousel, .carousel-item, .carousel-inner, .pdfemb-viewer, div.pdfemb-inner-div, .pdfemb-the-canvas, .pdfemb-pagescontainer {
    position: static !important;
}

li.tv section article div p.content_info {
    max-height: 65vh !important;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
}

p.content_info img {
    width: 100%;
    height: auto;
}

div.pdfemb-viewer {
    border: none !important;
    width: 100% !important;
    height: auto !important;
}

.red {
    color: red;
}

/* PDF */
.pdfemb-toolbar {
    display: none !important;
}

td div.pdfemb-viewer {
    width: 50px;
    height: 50px;
}

.tv {
    width: auto;
    max-height: 70vh;
}

@media (max-height: 1100px) {

    .pdfemb-viewer {

    }

    .content_info {
        width: 100%;
        font-size: 1.5em;
        text-align: center;
    }

    /*.content_info img{*/
    /*    max-height:40ex;*/
    /*}*/
}

@media (max-height: 800px) {

    .content_info td {
        height: 20px;
    }

    .content_info {
        width: 100%;
        font-size: 1.5em;
        text-align: center;
    }

    div.pdfemb-viewer {
        border: none !important;
        width: auto !important;
        max-height: none !important;
    }

    li.tv section article div .pdfemb-viewer, .content_info img {
        font-size: 1.5em;
        text-align: center;
    }

    .content_info img {
        max-height: 100%;
        width: auto;
    }

    .pdfemb-viewer {
        max-height: 100%;
        width: auto;
    }

    /*.content_info img{*/
    /*    max-height:30ex;*/
    /*}*/
}